.hamburger {
    position: fixed;
    top: 20px;
    right: 0;
    cursor: pointer;
    z-index: 1000;
    padding: 10px 15px 5px;
}

.hamburger span {
    vertical-align: middle;
}

.hamburger .bars {
    display: block;
    position: relative;
    width: 35px;
    height: 5px;
    background-color: rgba(18, 59, 61, 0.7);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.hamburger .bars:before,
.hamburger .bars:after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 5px;
    background-color: rgba(18, 59, 61, 0.7);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.hamburger .bars:before {
    top: 10px;
}

.hamburger .bars:after {
    bottom: 10px;
}

.open .hamburger .bars {
    background-color: transparent;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

.open .hamburger .bars::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

.open .hamburger .bars::after {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

.menu {
    width: 250px;
    height: 100%;
    padding: 75px 20px 0;
    background-color: #109da0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    position: fixed;
    right: -100%;
    top: 0;
    opacity: 0;
    z-index: 999;
    margin-top: 0;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.menu a {
    color: rgba(255, 255, 255, 0.49);
    border-left:5px solid transparent;
    padding-left:10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-left:-20px;
}

.menu a:hover {
    color: white;
        border-left:5px solid #ff406d;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.menu li {
    list-style: none;
    letter-spacing: 2px;
}

.open .menu {
    right: 0;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 052s ease;
    transition: all 0.5s ease;
}

.menu {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 052s ease;
    transition: all 0.5s ease;
}

.menu:hover {
    overflow-y: auto;
}